@model KOU.Models.ArabaSahibi
@{
    ViewData["Title"] = "ArabaSahibiEkle";
    Layout = "~/Views/Shared/a1.cshtml";
}

<h1>Lütfen araba sahibinin bilgilerini giriniz:</h1>

<br />
@using (Html.BeginForm("ArabaSahibiEkle","ArabaSahibi",FormMethod.Post))
{
    @Html.Label("Araba sahibi adı:")
    @Html.TextBoxFor(x => x.ArabaSahibiAdi, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ArabaSahibiAdi, "", new { @style = "color:red" })
    <br />
    @Html.Label("Arabanın ID'si:")
    @Html.TextBoxFor(x => x.ArabaId, new { @class = "form-control" })
    <br />
    @Html.Label("Borç:")
    @Html.TextBoxFor(x => x.Borc, new { @class = "form-control" })
    <br />
    @Html.Label("Alacak:")
    @Html.TextBoxFor(x => x.Alacak, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Kaydet</button>
}
