@model KOU.Models.Parca
@{
    ViewData["Title"] = "ParcaGet";
    Layout = "~/Views/Shared/a1.cshtml";
}

<h1>Parça bilgilerini güncellemek için</h1>

<br />
@using (Html.BeginForm("ParcaGuncelle", "Parca", FormMethod.Post))
{
    @Html.HiddenFor(x => x.ParcaId)
    <br />
    @Html.Label("Parçanın adı:")
    @Html.TextBoxFor(x => x.ParcaIsim, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ParcaIsim, "", new { @style = "color:red" })
    <br />
    @Html.Label("Parçanın stoğu:")
    @Html.TextBoxFor(x => x.ParcaStok, new { @class = "form-control" })
    @Html.Label("Parçanın türü:")
    @Html.TextBoxFor(x => x.ParcaTur, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Güncelle</button>
}
